// app global css
.form {
  .q-field {
    margin-bottom 10px
  }
}

.form-addq {
  .q-if-label {
    color $dark
  }
}

.center-all {
  justify-content center
  align-items center
  display flex
}

.box {
  margin-bottom 15px
}

.searchForm {
  min-width 30%
  .q-field {
    min-width 85%
    display inline-block
  }
}

.video-player-box {
  border-radius 10px
  .video-js {
    max-width 100%
    border-radius 10px
  }
}

.videoPlayer {
  position relative
}

.play-pause {
  position absolute
  margin auto
  left 0
  right 0
  top 20px
}

.layer-over {
  position absolute
  left 0
  right 0
  bottom 0
  top 0
  width 100%
  z-index 1
}

